<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-auto col-md-6 footer-contact">
          <h3>Blood Bank Connect</h3>
          <p>
            Developed by NITJ students <br>
            <strong>Phone:</strong> +91 7340892226<br>
            <strong>Email:</strong> akshitabansal24gmail.com<br>
          </p>
        </div>

        <div class="col-lg-auto col-md-6 footer-links">
          <h4>About us</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Our services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; 2024 Copyright Blood Bank Connect. All Rights Reserved
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998; border: none;" href="#!"
        role="button"><i class="fa fa-facebook-f"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee; border: none;" href="#!"
        role="button"><i class="fa fa-twitter"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39; border: none;" href="#!"
        role="button"><i class="fa fa-google"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca; border: none;" href="#!"
        role="button"><i class="fa fa-linkedin"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border: none;" href="#!"
        role="button"><i class="fa fa-github"></i></a>
    </div>
  </div>
</footer>